$sandyBeach: #ffedc6;
$goldenTainoi: #ffd05b;
$carouselPink: #fceef4;
$froly: #f27f94;
$mandy: #e95367;
$brickRed: #d23c50;
$cadetBlue: #a0a3bd;
$whisper: #eff0f6;
$catskillWhite: #f4f6fa;
$whiteLilac: #ecf0f8;
$zumthor: #e6efff;
$periwinkleGray: #d0daee;
$waikawaGray: #5f73aa;
$eastBay: #4c5c88;
$fiord: #394566;
$oxfordBlue: #363d50;
$mirage: #1c2233;
$vulcan: #131722;
$white: #ffffff;
$mischka: #d9dce2;
$scorpion: #606060;
$cardinal: #ba2b3e;
$cherub: #faddea;
$mischka-alfa: #D6D8E7;
$storm-gray: #6E7191
