@import "colors";

$clr-alpha: $sandyBeach;
$clr-beta: $goldenTainoi;
$clr-beta: $carouselPink;
$clr-delta: $froly;
$clr-epsilon: $mandy;
$clr-zeta: $brickRed;
$clr-eta: $cadetBlue;
$clr-theta: $whisper;
$clr-iota: $catskillWhite;
$clr-kappa: $whiteLilac;
$clr-lambda: $zumthor;
$clr-mu: $periwinkleGray;
$clr-nu: $waikawaGray;
$clr-xi: $eastBay;
$clr-omicron: $fiord;
$clr-pi: $oxfordBlue;
$clr-rho: $mirage;
$clr-sigma: $vulcan;
$clr-tau: $white;
$clr-upsilon: $mischka;
$clr-phi: $scorpion;
$clr-chi: $cardinal;
$clr-psi: $cherub;
$clr-omega: $mischka-alfa;
$clr-alpha-alpha: $storm-gray;


