// Font Family

$desktopFontFamily: 'Montserrat', sans-serif;
$tabletFontFamily: 'Roboto', sans-serif;
$phoneFontFamily: 'Roboto', sans-serif;

// Font weights

$light: 100;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
