<template>
  <div class="container">
    <label :for="id" class="label">Label</label>
    <input class="input" ref="input" :id="id" type="checkbox" :checked="isChecked" @focus="isFocused = true" @blur="isFocused = false"
           :disabled="isDisabled" @click="check"/>
    <div class="checkbox" :class="{focused: isFocused, checked: isChecked, unchecked: !isChecked}" @click="check">
      <CheckboxIcon v-if="isChecked" class="icon"/>
    </div>
  </div>
</template>

<script>
import CheckboxIcon from "UI/Icons/Checkbox/CheckboxIcon";
import {ref, onMounted} from 'vue'

export default {
  name: "Checkbox",
  components: {
    CheckboxIcon
  },
  props: {
    id: {
      type: String,
      required: true
    },
    labelText: {
      type: String,
      required: true
    },
    isDisabled: {
      type: Boolean,
      default: false
    },
    modelValue: {
      type: Boolean,
    }
  },
  setup(props, {emit}) {
    const isFocused = ref(false)
    const isChecked = ref(false)
    const input = ref(null)

    const check = () => {
      if (!props.isDisabled) {
        isChecked.value = !isChecked.value
        emit('update:model-value', isChecked.value)
      }
    }

    onMounted(() => {
      isChecked.value = props.modelValue
    })

    return {
      isFocused,
      input,
      isChecked,
      check
    }

  },
  methods: {
    test() {
      console.log(this.isChecked)
    }
  }
};
</script>

<style lang="scss">
@import "src/style";

.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.label {
  cursor: pointer;
}

.input {
  width: 0;
}

.checkbox {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  margin-right: 10px;
}

.checked {
  background-color: $clr-zeta;
  &:hover {
    background-color: $clr-chi;
  }
}

.unchecked {
  background-color: $clr-omega;
  &:hover {
    background-color: $clr-eta;
  }
}

.icon {
  width: 10px;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.input:disabled ~ .checkbox {
  opacity: 50%;
  cursor: default;


  &:hover {
    .checked {
      background-color: $clr-zeta;
    }
    .unchecked {
      background-color: $clr-omega;
    }
  }
}

.focused.checked {
  box-shadow: 0 0 0 5px $clr-psi;
}
.focused.unchecked {
  box-shadow: 0 0 0 5px $clr-theta;
}
</style>
