<template>
  <svg width="100%" height="100%" viewBox="0 0 15 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12.002 21L3.00195 12L12.002 3" stroke="#D23C50" stroke-width="5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</template>

<script>
export default {
  name: "SlideArrowIcon",
};
</script>
