<template>
  <svg preserveAspectRatio="xMinYMin meet" width="26" height="18" viewBox="0 0 26 18" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M24 2L10.1106 16L2 7.76471" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</template>

<script>
export default {
  name: "ConfirmIcon",
};
</script>
