<template>
    <svg preserveAspectRatio="xMinYMin meet" width="100%" height="100%" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M36.457 39.8229C40.1325 36.3358 44.106 32.0517 44.8013 29.1624C45 28.5646 45 27.8672 45 27.1697C45 22.6863 41.3245 19 36.8543 19C33.9735 19 31.4901 20.4945 30 22.6863C28.5099 20.4945 26.0265 19 23.1457 19C18.6755 19 15 22.6863 15 27.1697C15 27.8672 15.0993 28.4649 15.1987 29.0627C16.4901 34.1439 29.2053 46 29.2053 46" stroke="#D23C50" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
</template>

<script>
export default {
  name: "FavoriteIcon",
};
</script>
