<template>
    <svg preserveAspectRatio="xMinYMin meet" width="100%" height="100%" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M30.6881 42.8572H18.2148V20.3572H41.7863V42.8572" stroke="#D23C50" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M22 19.5C22 15.3333 25.5714 12 30.0357 12C34.5 12 38.0714 15.3333 38.0714 19.5" stroke="#D23C50" stroke-width="3" stroke-miterlimit="10" stroke-linejoin="round"/>
    </svg>
</template>

<script>
export default {
  name: "ShopIcon",
};
</script>
<style scoped lang="scss">

</style>