<template>
  <svg preserveAspectRatio="xMinYMin meet" width="100%" height="100%" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11.4741 24.1497L10.8833 12.3333H25.4474L24.8566 24.1497C24.7768 25.7464 23.459 26.9999 21.8604 26.9999H14.4704C12.8717 26.9999 11.5539 25.7464 11.4741 24.1497Z" stroke="#606060" stroke-width="2"/>
    <path d="M15 12H21.3333V11C21.3333 9.89543 20.4379 9 19.3333 9H17C15.8954 9 15 9.89543 15 11V12Z" stroke="#606060" stroke-width="2"/>
    <path d="M9 12.1667H27.3333" stroke="#606060" stroke-width="2" stroke-linecap="round"/>
    <path d="M20.666 17.1667V21.3334" stroke="#606060" stroke-width="2" stroke-linecap="round"/>
    <path d="M15.666 17.1667V21.3334" stroke="#606060" stroke-width="2" stroke-linecap="round"/>
  </svg>
</template>

<script>
export default {
name: "DeleteIcon"
}
</script>