<template>
  <svg preserveAspectRatio="xMinYMin meet" width="100%" height="100%" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M9 9L20.9199 20.9199" stroke="#B3B3B3" stroke-width="2" stroke-linecap="round"/>
    <path d="M20.9199 9L9 20.9199" stroke="#B3B3B3" stroke-width="2" stroke-linecap="round"/>
  </svg>
</template>

<script>
export default {
name: "Close"
}
</script>