<template>
  <div id="nav"><router-link to="/"><Home/></router-link> |</div>
  <router-view />
</template>

<style lang="scss">
@import "style";
</style>
<script>
import Home from "views/Home";
export default {
  components: {Home}
}
</script>