@import "~normalize.css";
@import "src/core-styles/core-styles";

body {
  font-family: $desktopFontFamily;
}

div, span, button, p, input {
  box-sizing: border-box;
  line-height: 1;
  outline: none;
}

input {
  font-family: inherit;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  line-height: 1;
}

.spinner:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: load2 1s ease infinite;
}

@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.svg-container {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;

  & > svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

